@namespace Blazr.App.UI

@using Blazr.Cadmium.QuickGrid
@using Blazr.Cadmium.UI

 @inherits GridFormBase<DmoCustomer,CustomerId>
 
<div class="d-flex flex-row mb-1 pt-1 border-bottom">
    <div class="flex-fill justify-content-start h4">
        @this.formTitle
    </div>
    <div class="justify-content-end">
        <UIButton class="btn btn-sm btn-primary" ClickEvent="() => OnAddAsync()">Add New Customer</UIButton>
    </div>
</div>

<BlazrPaginator State="Pagination" />

<div class="@this.GridCss" tabindex="-1">
    <QuickGrid Theme="None" TGridItem="DmoCustomer" ItemsProvider="this.GetItemsAsync" Pagination="Pagination" @ref="this.quickGrid" Class="@this.TableCss">

        <SortedPropertyColumn SortField="Id" Class="nowrap-column" Sortable="true" Title="ID">
             @context.Id.ToString(true)
        </SortedPropertyColumn>

        <SortedPropertyColumn SortField="Name" Class="nowrap-column" Sortable="true" Title="Name">
            @context.Name.ToString()
        </SortedPropertyColumn>

        <TemplateColumn Class="nowrap-column no-max-width" Align="Align.End">
            <UIButtonGroup>
                <UIButton type="button" class="btn btn-sm btn-primary" ClickEvent="() => OnEditAsync(context.Id)">Edit</UIButton>
                <UIButton type="button" class="btn btn-sm btn-secondary" ClickEvent="() => OnViewAsync(context.Id)">View</UIButton>
            </UIButtonGroup>
        </TemplateColumn>

    </QuickGrid>
</div>

<BsModalDialog @ref=modalDialog />
