@inherits GridFormBase<DmoInvoice,InvoiceId>
@namespace Blazr.App.UI

@inject InvoiceAggregatePresenter InvoiceAggregatePresenter

<div class="d-flex flex-row mb-1 pt-1 border-bottom">
    <div class="flex-fill justify-content-start h4">
        @this.formTitle
    </div>
    <div class="justify-content-end">
        <button class="btn btn-sm btn-primary" @onclick="() => OnAddAsync()">Add New Invoice</button>
    </div>
</div>

<BlazrPaginator State="Pagination" />

<div class="@this.GridCss" tabindex="-1">
    <QuickGrid Theme="None" TGridItem="DmoInvoice" ItemsProvider="this.GetItemsAsync" Pagination="Pagination" @ref="this.quickGrid" Class="@this.TableCss">
        <SortedPropertyColumn SortField="@AppDictionary.Invoice.InvoiceID" Class="nowrap-column" Sortable="true" Title="ID">
            @context.Id.Value.ToDisplayId()
        </SortedPropertyColumn>
        <SortedPropertyColumn SortField="@AppDictionary.Invoice.Date" Class="nowrap-column" Sortable="true" Title="Date">
            @context.Date.AsGlobalDateFormat()
        </SortedPropertyColumn>
        <SortedPropertyColumn SortField="@AppDictionary.Customer.CustomerName" Class="nowrap-column" Sortable="true" Title="Customer Name">
            @context.CustomerName
        </SortedPropertyColumn>
        <SortedPropertyColumn SortField="@AppDictionary.Invoice.TotalAmount" Class="nowrap-column" Sortable="true" Title="Total Amount">
            @context.TotalAmount.AsMoney()
        </SortedPropertyColumn>
        <TemplateColumn Class="" Align="Align.End">
            <UIButtonGroup>
                <button class="btn btn-sm btn-primary" @onclick="() => OnDashboardAsync(context.Id)">Dash</button>
            </UIButtonGroup>
        </TemplateColumn>
    </QuickGrid>
</div>

<BsModalDialog @ref=modalDialog />

@code {
    protected string TableCss = "table table-sm table-striped table-hover border-bottom no-margin hide-blank-rows";
    protected string GridCss = "grid";

    protected override Task OnAddAsync()
    {
        // reset the InvoiceAggregatePresenter to the default Invoice
        this.InvoiceAggregatePresenter.Reset();

        this.NavManager.NavigateTo($"{this.UIEntityService.Url}/dash/");

        return Task.CompletedTask;
    }

    protected override Task OnDashboardAsync(InvoiceId id)
    {
        // and navigate to the dashboard
        this.NavManager.NavigateTo($"{this.UIEntityService.Url}/dash/{id.ToString()}");

        return Task.CompletedTask;
    }
}
